{
  "IoT_Metadata": [
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "DEVICE" },
          "ID": { "N": "1" },
          "Name": { "S": "Water Level Pi" },
          "Location": { "S": "Basement" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "DEVICE" },
          "ID": { "N": "2" },
          "Name": { "S": "Ambient Monitor" },
          "Location": { "S": "Bedroom" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "1" },
          "Name": { "S": "Temperature" },
          "Unit": { "S": "°C" },
          "ChartType": { "S": "XYLineChart" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "2" },
          "Name": { "S": "Humidity" },
          "Unit": { "S": "%" },
          "ChartType": { "S": "XYLineChart" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "3" },
          "Name": { "S": "Ambient Light" },
          "Unit": { "S": "Lux" },
          "ChartType": { "S": "XYLineChart" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "4" },
          "Name": { "S": "Motion Count" },
          "Unit": { "S": "triggers/min" },
          "ChartType": { "S": "BarChart" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "5" },
          "Name": { "S": "Water Level" },
          "Unit": { "S": "cm" },
          "ChartType": { "S": "XYLineChart" },
          "Icon": { "S": "📏" },
          "MinYRange": { "N": "20" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "6" },
          "Name": { "S": "Radar Occupancy" },
          "Unit": { "S": "%" },
          "ChartType": { "S": "XYAreaChart" },
          "Icon": { "S": "🚶" },
          "MinYRange": { "N": "100" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "7" },
          "Name": { "S": "Radar Distance" },
          "Unit": { "S": "m" },
          "ChartType": { "S": "XYLineChart" },
          "Icon": { "S": "📏" },
          "MinYRange": { "N": "2" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "8" },
          "Name": { "S": "Radar Peak Motion" },
          "Unit": { "S": "pts" },
          "ChartType": { "S": "XYLineChart" },
          "Icon": { "S": "🔥" },
          "MinYRange": { "N": "100" }
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "EntityType": { "S": "METRIC" },
          "ID": { "N": "9" },
          "Name": { "S": "Radar Ambient Light" },
          "Unit": { "S": "Lux" },
          "ChartType": { "S": "XYLineChart" },
          "Icon": { "S": "💡" },
          "MinYRange": { "N": "50" }
        }
      }
    }
  ]
}
